name: Lint (CSV)

on:
  workflow_call:

jobs:
  csvlint:
    name: csvlint
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Get changed files
        id: changed-files
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          list-files: shell
          filters: |
            csv:
              - added|modified: '**/*.csv'

      - name: Checkout csvlint
        uses: actions/checkout@v4
        with:
          repository: Clever/csvlint
          path: csvlint

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "./csvlint/go.mod"

      - name: csvlint
        if: steps.changed-files.outputs.csv == 'true'
        run: |
          cd csvlint
          for file in ${{ steps.changed-files.outputs.csv_files }}; do
            sanitized_file=$(printf '%q' "$file")
            echo "Validating ${sanitized_file}"
            go run cmd/csvlint/main.go ../${sanitized_file}
          done
