---
on:
  workflow_call:
    inputs:
      tool-directory:
        type: string
        description: Path to the tool's directory, relative to repo root

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      # Determine if tests should run
      # This is a monorepo and GH checks cannot be required for only specific
      # paths, so this is required instead of a trigger `paths` filter.
      - name: Check if relavent files have changed
        id: changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          filters: |
            tool:
              - '${{ inputs.tool-directory }}/**'
              - .github/workflows/reusable-ci.yaml

      # Setup
      - name: Checkout repository
        if: steps.changes.outputs.tool == 'true'
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v4.1.7
      - name: Setup Go
        if: steps.changes.outputs.tool == 'true'
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "${{ inputs.tool-directory }}/go.mod"
          cache-dependency-path: '${{ inputs.tool-directory }}/go.sum'

      # Linting
      - name: Install golangci-lint
        if: steps.changes.outputs.tool == 'true'
        run: go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@v2.3.0
      - name: Lint
        if: steps.changes.outputs.tool == 'true'
        working-directory: ${{ inputs.tool-directory }}
        run: make lint

      # Tests
      - name: Install gotestsum
        if: steps.changes.outputs.tool == 'true'
        run: go install gotest.tools/gotestsum@v1.13.0
      - name: Run tests
        if: steps.changes.outputs.tool == 'true'
        working-directory: ${{ inputs.tool-directory }}
        run: make test
